<?xml version="1.0"?>
<launch>
    <arg name="cmd_vel_topic" default="/cmd_vel" />
    <arg name="odom_topic" default="odom" />
    <arg name="move_forward_only" default="false"/>
    <arg name="use_sim_time" value="true"/>
    <node name="move_base_flex" pkg="mbf_costmap_nav" type="mbf_costmap_nav" required="true" output="screen">
      <rosparam file="$(find vab_description)/param/costmap_common_params.yaml" command="load" ns="global_costmap" />
      <rosparam file="$(find vab_description)/param/costmap_common_params.yaml" command="load" ns="local_costmap" />
      <rosparam file="$(find vab_description)/param/local_costmap_params.yaml" command="load" />
      <rosparam file="$(find vab_description)/param/global_costmap_params.yaml" command="load" />
      <rosparam file="$(find vab_description)/param/move_base_flex_params.yaml" command="load"/>
      <rosparam file="$(find path_tracking_pid)/param/controllers.yaml" command="load" />
      <rosparam file="$(find path_tracking_pid)/param/path_tracking_pid.yaml" command="load" />
      <remap from="cmd_vel" to="$(arg cmd_vel_topic)"/>
      <remap from="odom" to="$(arg odom_topic)"/>
    </node>
    <node pkg="mbf_costmap_nav" type="move_base_legacy_relay.py" name="move_base" >
        <param name="base_global_planner" value="StraightLineGlobalPlanner" />
    </node>
  
</launch>

