<launch>
  <arg name="model" />
  <param name="robot_description" textfile="$(find forkamrtest3)/urdf/forkamrtest3.urdf" />
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find forkamrtest3)/urdf.rviz" />
  
  <include file="$(find forkamrtest3)/launch/gazebo.launch" />
  <include file="$(find forkamrtest3)/launch/gmapping.launch" />
  <include file="$(find forkamrtest3)/launch/navigation.launch" />
</launch>
